.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }



/* CSS for input.ejs */

body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom, #FFF5DE, #FFF5DE, #FFF5DE, #F58C5B, #ff5606);

}

#questions {
    margin: auto;
    padding: 30px;
    width: 500px;
    text-align: center;
    background-color: #FFF5DE;
    box-shadow: 10px 10px 50px brown;

    color: #ff5606;
    /*margin-top: 50px;*/
}


h2 {

}

input {
    border: none;
    padding: 10px;
}

#habitsP {
    padding-bottom: 70px;
}

#time, #habit {
    border-bottom: solid 3px #000000;
    background: 0%;
    transition: border 0.3s;
    font-size: 30px;
    text-align: center;
    width: 300px;
}

input:focus {
    outline: none;
}
