
/* CSS for input.ejs */

body {
    font-family: 'Raleway', sans-serif;
    /*background: linear-gradient(to bottom, #FFF5DE, #FFF5DE, #FFF5DE, #F58C5B, #ff5606);*/
    background: #ff5606;

}

.questions {
  margin: auto;
    padding: 30px;
    width: 500px;
    margin-top: 80px;
    text-align: center;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 20px #5a5a5a;
}

div {
    margin: auto;
    padding: 30px;
    text-align: center;
    color: #000000;
    /*margin-top: 50px;*/
}

#welcome {
  font-size: 24px;
}

#title {
  color: white;
  padding-left: 20px;
  margin-top: 20;
  font-weight: bold;
  font-size: 24px;
}

h2 {

}

input {
    border: none;
    padding: 10px;
}

#habitsP {
    padding-bottom: 70px;
}

#time, #habit {
    border-bottom: solid 3px #000000;
    background: 0%;
    transition: border 0.3s;
    font-size: 30px;
    text-align: center;
    width: 300px;
}

img.resize{
   max-width:50%;
   max-height:50%;

  }
input:focus {
    outline: none;
}
