<html>
    <head>
        <title>GetGo: Start a new habit</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="js/main.js"> </script>
        <script src="https://apis.google.com/js/client.js?onload=checkAuthInputs"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
    </head>

    <body>
     <div id="questions">
     <img src="http://i.imgur.com/23tEUCZ.png?1" class="resize">
             <h2> <a href="http://www.urbandictionary.com/define.php?term=GG" > GG! </a> </h2> 
            
            <p id="congratS">
             
             <h2> You've started a new habit! </h2>
            </p>
            
            <p>
              <h2> Now Get up and <a href="http://calendar.google.com"> Go </a> </h2>   
            </p>
           <br> </br>
           <hr> 
           <h2> Want to add another <a href="http://localhost:8000/inputs"> one? </a> </h2> 
        </div>
    </body>
</html>
