<html>
  <head>
    <script src="js/main.js"> </script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuthInputs"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </head>
  <body>

  Habit: <input type="text" name="habit"><br>
  Time: <input type="text" name="time"><br>
  <input type="submit" value="Submit" onclick="handleInputSubmit()">

  </body>
</html>