<html>
    <head>
        <title>GetGo: Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="js/main.js"> </script>
        <script src="https://apis.google.com/js/client.js?onload=checkAuthInputs"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
    </head>

    <body>
<<<<<<< HEAD
        <p class="title">GetGo</p>
=======
    <p id="title">GetGo
    </p>
        <button href="/" onclick="signOut()">Sign out</button>
>>>>>>> 456199f74a88f41d3bd011c3f37a27b398ef8c27
        <div class="questions">
            <h2>What's your new habit?</h2>
            <p id="habitsP">
                <input id='habit' type="text" name="habit">
            </p>

            <h2>How many minutes does the habit take?</h2>
            <p>
                <input id='time' type="number" min="0" max="180" step="10" value="60">
            </p>
            <p>
                <button class="btn btn-success" type="submit" value="Submit" onclick="handleInputSubmit()">Start your habit!</button>
            </p>
            <pre id='output'> </pre>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    </body>
</html>
